option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    composer_options: --no-dev
    max_execution_time: 600
    max_input_time: 600
    memory_limit: 768M
    post_max_size: 768M
  aws:elasticbeanstalk:application:environment:
    API_URL: http://kututisapi-env.eba-t36nb4fk.us-east-1.elasticbeanstalk.com

